@use "../../styles/partials/variables" as *;

.netflix-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.netflix-loader-spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-top: 4px solid #e50914;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Responsive design
@media (max-width: 768px) {
  .netflix-loader-spinner {
    width: 40px;
    height: 40px;
    border-width: 3px;
  }
}

@media (max-width: 480px) {
  .netflix-loader-spinner {
    width: 35px;
    height: 35px;
    border-width: 3px;
  }
}