nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black {
  background-color: #000;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 80px;
  cursor: pointer;
}
.profile {
  width: 30px;
  cursor: pointer;
}
