html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  overflow-x: hidden;
}

html {
  background-color: #111;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2 {
  margin: 0px;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 99;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-black {
  background-color: #111;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  margin-top: 5px;
  flex-grow: 1;
  cursor: pointer;
}

.nav-right {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-wrapper {
  display: flex;
  color: #fff;
  align-items: flex-start;
  opacity: 0.7;
  margin-right: 10px;
  border: 1px solid #fff;
  position: relative;
  background-color: #111;
}

.search-input {
  color: #fff;
  width: 250px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: transparent;
}

.search-icon {
  font-size: 20px;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  right: 0;
  color: #fff;
  transform: translateY(-50%);
  pointer-events: none;
}

.profile {
  width: 40px;
  height: 40px;
  margin-top: 3px;
  cursor: pointer;
}

.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 550px;
  -o-object-fit: contain;
     object-fit: contain;
  color: #fff;
}

.black-background-effect {
  position: absolute;
  background-color: #111;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.banner .wrapper {
  flex-grow: 5;
}

.banner-contents {
  position: relative;
  height: 100%;
  display: flex;
  text-shadow: 1px 1px 2px #111, 0 0 5px, 0 0 5px #111;
  line-height: 1.7;
  flex-direction: column;
  justify-content: flex-end;
}
.banner-contents .banner-title {
  font-size: 56px;
}
.banner-contents .banner-description {
  width: 40%;
  margin-top: 10px;
  font-weight: bolder;
}

.banner-btn {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 0.2vw;
  padding: 12px 48px;
  margin-right: 16px;
  font-weight: 700;
  background-color: rgba(51, 51, 51, 0.5);
}
.banner-btn:hover, .banner-btn:focus {
  color: #111;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.banner-btn:focus-visible {
  outline: 2px solid #000;
}

.banner-fadeEffect {
  flex-grow: 0;
  height: 118.4px;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.custom-modal {
  display: flex;
  width: 65%;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  margin-top: 120px;
  flex-direction: column;
  height: 400px;
  background-color: #111;
}

.close-modal {
  width: 50px;
  padding: 2px 5px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #fff;
  color: #111;
  border-color: #111;
}

@media (max-width: 992px) {
  .banner-contents .banner-title {
    font-size: 36px;
  }
  .banner-contents .banner-description {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .logo {
    width: 80px;
    padding: 0 5px;
  }
  .search-input {
    width: 250px;
  }
}
@media (max-width: 480px) {
  nav .wrapper {
    flex-direction: column;
  }
  .logo {
    width: 80px;
    margin-bottom: 5px;
  }
  .search-input {
    width: 90%;
    border: none;
    outline: none;
    padding: 7px;
    background-color: transparent;
  }
  .profile {
    width: 30px;
    height: 30px;
  }
  .banner-contents .banner-title {
    font-size: 24px;
  }
  .banner-contents .banner-description {
    width: 100%;
    font-size: 16px;
  }
  .banner-btn {
    padding: 8px 32px;
  }
  .react-player {
    height: auto;
  }
}
.error {
  background-color: #fff;
  height: 100vh;
}

.error .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.error .wrapper img {
  width: 300px;
  height: 200px;
}

.movies-container {
  color: #fff;
}

.movies-wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.title {
  font-size: 22px;
  margin: 10px 0 0 70px;
  padding: 2px;
}

.movies {
  margin-left: 70px;
  padding: 2px;
}

.movie {
  min-width: 225px;
  height: 150px;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
}
.movie img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 450ms;
}
.movie img:hover {
  transform: scale(1.08);
  opacity: 1;
}
.movie:focus-visible {
  outline: 1px solid #fff;
}

.carousel-container {
  position: relative;
}
.carousel-container .react-multiple-carousel__arrow {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(22, 22, 22, 0.5);
}
.carousel-container:hover .react-multiple-carousel__arrow {
  opacity: 1;
}
.carousel-container .react-multiple-carousel__arrow::before {
  font-size: 32px;
}

.movies-results {
  margin-top: 120px;
}

.movies-results .wrapper {
  display: flex;
}
.movies-results .wrapper .movies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-x: hidden;
  margin-left: 0px;
}
.movies-results .wrapper .movie {
  min-width: 200px;
  transition: transform 450ms;
  overflow-y: hidden;
  margin: 20px 10px;
  cursor: pointer;
}
.movies-results .wrapper .movie:hover {
  transform: scale(1.08);
  opacity: 1;
}
.movies-results .wrapper .movie img {
  height: 100%;
}

.no-data-found {
  margin-top: 120px;
  height: 100vh;
}

.no-data-found .wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
  opacity: 0.7;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
}
.no-data-found .wrapper .suggestions {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .title {
    margin: 20px 0 0 30px;
  }
  .movies {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .movies-results .wrapper .movies {
    width: 100%;
    justify-content: center;
  }
  .movies-results .wrapper .movie {
    min-width: 150px;
  }
  .movies-results .wrapper .movie img {
    width: 100%;
  }
  .no-data-found .wrapper {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
  }
  .no-data-found .wrapper h2 {
    overflow-y: hidden;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 16px;
    margin: 0px 0 0 15px;
  }
  .movies {
    margin-left: 15px;
  }
  .movie {
    min-width: 150px;
    height: 200px;
  }
  .movie img {
    width: 100%;
  }
  .no-data-found .wrapper h2 {
    font-size: 16px;
  }
  .no-data-found .wrapper .suggestions {
    font-size: 14px;
  }
}
footer {
  margin-top: 250px;
  background-color: #000;
}

footer .wrapper {
  display: flex;
  padding: 20px;
  justify-content: center;
}
footer .wrapper p {
  color: grey;
  font-size: 18px;
  overflow-y: hidden;
}
footer .wrapper a {
  color: grey;
}
footer .wrapper a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  footer .wrapper p {
    font-size: 14px;
  }
}/*# sourceMappingURL=App.css.map */